/rest_venv/
/.venv/
.idea/*
.idea
.idea/
*/.venv/
*/env/
.venv/*
.venv
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
__pycache__/
__pycache__
local_settings.py
*local_settings.py
*/local_settings.py
*/*/local_settings.py
ihi/local_settings.py
deploy_ihi.sh
debug_tools.py
/assets/miv_receive_message/*
!/assets/
!/assets/miv_receive_message/
